!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.class
!.gitignore
lib
/bin
/*.bat
*.war
*.ear
target/
target
/target
/target/
.settings/
.project
.classpath
.settings/*.classpath
.idea/
/idea/
*.ipr
*.iml
*.iws
/*.iml
*.log
*.cache
*.diff
*.patch
*.tmp
logs/
bin/
.DS_Store
Thumbs.db
